/* CSSSSS FIXES */
* {
  margin: 0;
  padding: 0;
  }
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* BODY */
body {
  animation-name: coloring;
  animation-duration: 10s;
    animation-iteration-count: infinite;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* IMAGE STYLING */

a {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

#cabin {
  animation: ani-index 10s infinite linear;
  margin: 27% 0% 0% -35%;
  scale: 50%;
  z-index: 1;
}
#larry {
  animation: ani-index 11s infinite linear;
  margin: 30% 0% 0% 70%;
  scale: 100%;
  z-index: 2;
}
#boyboy {
  animation: ani-index 12s infinite linear;
  margin: -2% 0% 0% 45%;
  scale: 80%;
  z-index: 3;
}
#cubic {
  animation: ani-index 13s infinite linear;
  margin: 10% 0% 0% 40%;
  scale: 60%;
  z-index: 4;
}
#bintur {
  animation: ani-index 14s infinite linear;
  margin: 15% 0% 0% 10%;
  scale: 60%;
  z-index: 5;
}
#xiaoma {
  animation: ani-index 15s infinite linear;
  margin: 0% 0% 20% 20%;
  scale: 100%;
  z-index: 6;
}
#gx1000 {
  animation: ani-index 16s infinite linear;
  margin: -8% 0% 0% -10%;
  scale: 80%;
  z-index: 7;
}
#nard {
  animation: ani-index 17s infinite linear;
  margin: -1% 0% 0% 85%;
  scale: 100%;
  z-index: 8;
}
#majorana {
  
  animation: orbit 18s infinite linear;
  animation: ani-index 18s infinite linear;
  margin: 25% 10% 10% 20%;
  scale: 80%;
  z-index: 9;
}



/* Button animation */
.btn-image {
  transition: scale 0.7s;
}
.btn-image:hover {
  filter: brightness(1.2);
  scale: 110%;
}



/* FUNCTIONAL LINKS*/


/* ANIMATION */
@keyframes coloring {
  0% { background-color: blue; }
  25% { background-color: red; }
  50%  { background-color: yellow; }
  75%  { background-color: green; }
  100%   { background-color: blue; }
}
@keyframes ani-index {
  0% {z-index: 1; transform: translate3d(0, 0, 0);}
  10% {transform: translate3d(12em, -8em, 0em);}
  20% {transform: translate3d(24em, -16em, 0em);}
  30% {transform: translate3d(36em, -24em, 0em);}
  40% {transform: translate3d(24em, -32em, 0em);}
  50% {transform: translate3d(12em, -38em, 0em);}
  60% {transform: translate3d(0em, -32em, 0em);}
  70% {transform: translate3d(-12em, -24em, 0em);}
  80% {transform: translate3d(-24em, -16em, 0em);}
  90% {transform: translate3d(-12em, -8em, 0em);}
  100% { z-index: 9; transform: translate3d(0em, 0em, 0em);}
}


/* DYNAMIC SCREEN SIZING */

@media screen and (max-width:1800px) {
  .btn-image {
    width: 90%;
  }
}
@media screen and (max-width:1600px) {
  .btn-image {
    width: 80%;
  }
}@media screen and (max-width:1400px) {
  .btn-image {
    width: 70%;
  }
}
@media screen and (max-width:1200px) {
  .btn-image {
    width: 60%;
  }
}
@media screen and (max-width:1000px) {
  .btn-image {
    width: 50%;
  }
}
@media screen and (max-width:800px) {
  .btn-image {
    width: 40%;
  }
}
@media screen and (max-width:600px) {
  .btn-image {
    width: 30%;
  }
}
@media screen and (max-width:400px) {
  .btn-image {
    width: 20%;
  }
}
@media screen and (max-width:200px) {
  .btn-image {
    width: 10%;
  }
}
