/*
COLOR PALETTE

Blossom #ffe6e7
Poppy #D33E43
Cinereous #9B7874
Vibrant Cinereous #fa968b
Dim Gray #666370
Space Cadet #1C1F33

*/

/* GLOBAL STYLES 
------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
body {
    background: rgb(186, 230, 165);
    margin: 0;
}

/* links */
a {
    color: #D33E43;
}
a:hover{
    color: #fa968b;
    text-decoration: none;
}
footer a {
    color: #fa968b;
}
footer a:hover {
    color: #D33E43;
}
.btn {
    background: #ffe6e7;
    text-decoration: none;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}
/* HOME
------------------------------------*/
.home {
    background: url(images/css_Background.JPG) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content-wrapper {
    flex: 1 0 auto;
}
.content-bg {
    background: #66637090;
    padding: 30px;
}

/* RESUME
------------------------------------*/
.resume header::before {
    background: url(images/css_Background.JPG) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}
.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 2px dashed #666370;
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}



/* Profile
------------------------------------*/
.project-item {
    display: flow-root;
    margin: 30px 0;
}
.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}

/* Projects
------------------------------------*/

/* Work Experience
------------------------------------*/
.work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
}

/* Education
------------------------------------*/


/* FOOTER
------------------------------------*/
footer {
    background: #222;
    color: #ffe6e7;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 34px;
}
.socials img:hover {
    opacity: 0.5;
}